@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,200&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #F7F6DC;
  margin: 0;
}

svg {
  height: 20px;
  padding-right: 8px;
}

.content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 120px 1fr;
}

.header {
  background-color: #7FB77E;
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header h1 {
  color: #F7F6DC;
}

button {
  cursor: pointer;
  background-color:transparent;
  font-size:medium;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  border-color: #FFC090;
  color: #F7F6DC;
  padding: 16px;
  box-shadow: 0 0 40px 40px #FFC090 inset, 0 0 0 0 #FFC090;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 #FFC090 inset, 0 0 10px 4px #FFC090;
  }
}

.sidebar {
  background-color: #B1D7B4;
  grid-row: 2 / 3;
  padding: 0 16px;
  
}

.sidebar h2, .sidebar h4 {
  color: #F7F6DC;
}

.sidebar h4 {
  margin: 0;
}

.sub-item {
  display: flex;
  border-radius: 15px;
  padding: 12px;
  margin: 4px;
}

.add-project-btn {
  flex-direction: column;
  height: 20px;
  transition: height 0.7s ease-out;
}

.add-project-btn div {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.input-area {
  visibility: hidden;
}

.input-area p {
  font-size: 12px;
}

input[type="text"], textarea, select {
  background-color: #F7F6DC;
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: #7FB77E;
  padding-right: 0;
}

input:focus, textarea:focus, select:focus {
  outline: solid #7FB77E;
  outline-width: 1px;
}

label, .input-area p {
  color: #F7F6DC;
}

.sub-item:hover, .sub-item.active {
  background-color: #FFC090;
}

.sidebar h4:hover {
  cursor: pointer;
}

.main-content {
  padding: 16px 32px;
}

.page-title {
  color: #7FB77E;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todo-item {
  border-radius: 15px;
  border:#FFC090 1px solid;
  display: grid;
  grid-template-columns: 30px 1fr 85px;
  align-items: center;
  padding-left: 8px;
  transition: height 1s linear;
  height: fit-content;
}

.expanded {
  padding-bottom: 8px;
}

.expanded-details {
  grid-column: 2 / 4;
}

.main-content h4, .main-content p {
  color: #7FB77E;
}

.todo-item.completed-task {
  background-color:#ffc0902a;
}

.todo-item.completed-task h4, .todo-item.completed-task p {
  color:#B1D7B4;
}

.complete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border:#7FB77E 1px solid;
}

.complete:hover {
  cursor: pointer;
}

.complete-check {
  background-color: #B1D7B4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.edit-btn, .delete-btn {
  border: none;
  background-color: transparent;
}

.edit-btn:hover, .delete-btn:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.438);
}

.modal-content {
  margin: 64px auto auto auto;
  width: 350px;
  height: fit-content;
  display: grid;
  grid-template-rows: 50px 1fr 50px; 
}

.modal-header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B1D7B4;
}

.modal-header h3 {
  color:#F7F6DC;
}

.modal-form {
  background-color: #B1D7B4;
  padding: 16px 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-footer {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #B1D7B4;
}

.close-modal {
  color: #B46060;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #914c4c;
  text-decoration: none;
  cursor: pointer;
}